:root{
    --vp-nav-height:48px;
}

/* 修改文档H1的背景色 */ 
.VPDoc h1 {
    background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* 去掉链接下划线 */
.vp-doc a {
    text-decoration: none;
}

/* 图片缩放 */
.medium-zoom-overlay {
    z-index: 30;
  }
  
.medium-zoom-image {
z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}