.markdown-section h1 {
    font-size: 1.6rem;
    margin: 0 0 1rem;
}
.markdown-section h2 {
    font-size: 1.2rem;
    margin: 1rem 0 .8rem;
}

.markdown-section h3 {
    font-size: 1.0rem;
    margin: .8rem 0 .6rem;
}

.markdown-section pre {
    padding: 0 1rem;
    line-height: 1.5rem;
}

.markdown-section pre>code {
    padding: 1.5em 5px;
}

.markdown-section ol, .markdown-section p, .markdown-section ul {
    line-height: 1.6rem;
    word-spacing: .05rem;
}